@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
  --font-primary: var(--font-bevellier);
  --font-proxima-nova: 'proxima-nova';
  --font-bevellier: 'bevellier';
}

body {
  font-family: var(--font-primary), serif;
}

@font-face {
  font-family: 'proxima-nova';
  font-weight: normal;
  src: url('/fonts/ProximaNova/Proxima Nova Regular.ttf');
}

@font-face {
  font-family: 'proxima-nova';
  font-weight: bold;
  src: url('/fonts/ProximaNova/Proxima Nova Semibold.ttf');
}

@font-face {
  font-family: 'bevellier';
  font-weight: normal;
  src: url('/fonts/Bevellier/Bevellier Medium.otf');
}

@font-face {
  font-family: 'bevellier';
  font-weight: bold;
  src: url('/fonts/Bevellier/Bevellier Bold.otf');
}
